<div id="addAnswer">
<br />
<br />
<h2>Add Answer</h2>
<br />
<% form_tag({:controller => "questions", :action => "addAnswer", :id => @question}, :remote => true) do %>
	<p class="form_field">
	    <label class="label">Enuciado</label>
	    <label class="text_field"><%= text_field_tag 'enuciado' %></label>
	  </p>
	  <div class="buttons">
	    <a><%= submit_tag "Add" %></a>
	  </div>
<% end %>
</div>