<% if (@answer.nil?) %>
	<% form_tag({:controller => "questions", :action => "addAnswer", :id => question}, :remote => true) do %>
		<p class="form_field">
		    <label class="label">Enuciado</label>
		    <label class="text_field"><%= text_field_tag 'enunciado' %></label>
		  </p>
		  <div class="buttons">
		    <a><%= submit_tag "Adicionar" %></a>
			<a class="cancel" onclick="$('.addAnswer').remove();">Cancelar</a>
		  </div>
	<% end %>
<% else %>
	<% form_for(@answer, :remote => true) do %>
		<p class="form_field">
		    <label class="label">Enuciado</label>
		    <label class="text_field"><%= text_field_tag 'enunciado', @answer.enunciation %></label>
		  </p>
		  <div class="buttons">
		    <a><%= submit_tag "Editar" %></a>
			<a class="cancel" onclick="$('.addAnswer').remove();">Cancelar</a>
		 </div>
	<% end %>
<% end %>
