<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Questions</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="show">
			<table id="questions" class="grid">
				<thead>
					<tr>
						<th>Enunciation</th>
						<th>Add Answer</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<% @questions.each do |question| %>
					  <%= render question %>
					<% end %>
				</tbody>
				<tfooter>
					
				</tfooter>
			</table>
		</div>
		<div id="addAnswer">
			
		</div>
		<div class="form">
			<h2>New Question</h2>
			<div id="form"><%= render :partial => "form" %></div>
		</div>
	</div>
</div>