#exibicaoRede {
	width: 650px;
	height: 650px;	
}

#heatmapArea {
	position:relative;
	width: 650px;
	height: 650px;	
}	

#heatmapArea canvas {
	position: absolute;
	top:0;
	left:0;
	width: 650px;
	height: 650px;
}