#exibicaoRede {
	width: 650px;
	height: 650px;	
}

.heatmap {
	position:relative;
	width: 650px;
	height: 650px;	
}	

.heatmap canvas {
	position: absolute;
	top:0;
	left:0;
	width: 650px;
	height: 650px;
}

.heatmap-full {
	position:relative;
	margin: 0 auto;
}

.network-fullscreen {
	background-color: #fff !important;
	color: #fff !important;
	border: 0 !important;
	padding: 0;
}

.network-fullscreen p {
	color: #333 !important;
	margin-top: -20px;
}