<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Usu&aacute;rios</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="form">
			<p class='info'>Novo Usu&aacute;rio</p>
			<div id="form"><%= render :partial => "form" %></div>
		</div>
		<div class="show">
			<table id="users" class="grid">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<%= render user %>
					<% end %>
				</tbody>
				<tfooter>

				</tfooter>
			</table>
		</div>
	</div>
</div>