<div id="user">
	<div class="h_text">
		<div class="numero_questao">
				<h1>Informe seu nome e email</h1>
				<a href="../home/index" id="botao_reiniciar">Reiniciar Questionário</a>
			</div>
	</div>
<br />
<br />
<%= form_tag({:controller => "home", :action => "createUser", :id => 1}, :remote => true) do %>
	
  <p class="form_field">
    <label class="label">Nome</label>
    <label class="text_field"><%= text_field_tag 'nome' %></label>
  </p>
  <p class="form_field">
    <label class="label">Email</label>
    <labe class="text_field"><%= text_field_tag 'email' %></label>
  </p>
	<div class="buttons">
	    <a><%= submit_tag "Enviar" %></a>
	</div>
<% end %>
</div>