<div id="user">
	<div class="h_text">
		<div class="numero_questao">
				<h1>Informe seu email</h1>
				<a href="../home/index" id="botao_reiniciar">Reiniciar Questionário</a>
		</div>
	</div>
<br />
<br />
<h2 id="error" style="display: none">Error</h2>
<%= form_tag({:controller => "home", :action => "getUser", :id => 1}, :remote => true) do %>

  <p class="form_field">
    <label class="label">Email</label>
    <labe class="text_field"><%= text_field_tag 'email' %></label>
  </p>
	<div class="buttons">
	    <a><%= submit_tag "Enviar" %></a>
	</div>
<% end %>
<h1>Atenção</h1>
<h4>Se você deseja responder novamente o sistema, é importante saber que as respostas devem ser conscistentes com as respondidas anteriormente.</h4>
</div>