<div class="h_text">
	<div class="numero_questao">
			<h1>Obrigado</h1>
		</div>
		<div class="restart_button">
			<a href="../home/index"><img src="../../images/layout/restart_button.png" /></a>
		</div>
</div>