<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Presentes</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="show">
			<table id="gifts" class="grid">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Show</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<% @gifts.each do |gift| %>
						<%= render gift %>
					<% end %>
				</tbody>
				<tfooter>

				</tfooter>
			</table>
		</div>
		<div class="form">
			<h2>New Answer</h2>
			<div id="form"><%= render :partial => "form" %></div>
		</div>
	</div>
</div>