<div class="h_text">
	<div class="numero_questao">
		<h1>Aten&ccedil;&atilde;o</h1>
		<a href="../home/index" id="botao_reiniciar">Reiniciar Question&aacute;rio</a>
	</div>
	<p style="font-size:16px;">Seu resultado foi considerado inv&iacute;lido pois voc&ecirc; provavelmente respondeu diferente da sua &uacute;ltima vez.</p>
</div>
