<div class="h_text">
	<div class="numero_questao">
			<h1>Seu resultado não foi considerado, provavelmente devido a inconsistência com a primeira vez que você respondeu o questionário</h1>
		</div>
		<div class="restart_button">
			<a href="../home/index"><img src="../../images/layout/restart_button.png" /></a>
		</div>
</div>
