<div id="addsuccess" style="display:block">Obrigado!!!</div>
<div id="removesuccess" style="display:none">Removido com sucesso</div>

<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Selecione os presentes!</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="show">
			<table id="gifts" class="grid">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Adicionar</th>
					</tr>
				</thead>
				<tbody>
					<% @allGifts.each do |gift| %>
						<tr id="<%= dom_id gift %>" class="show_grid">
							<td><%= gift.name %></td>
							<%= @perfil %>
						   
						</tr>
					<% end %>
				</tbody>
				<tfooter>

				</tfooter>
			</table>
		</div>
	</div>
</div>

