<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Usuário</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<strong>Lorem ipsum dolor sit am</strong><br />
		<p class="p1">
			Cectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Pha- sellus porta. Fusce suscipit.<br />
		</p>
		<a href="#"><img alt="" src="images/click_here.gif" /></a><br />
	</div>
</div>
