<%= form_for(@question, :remote => true) do |f| %>
  <p class="form_field">
    <label class="label"><%= f.label :enunciaciado %></label>
    <label class="text_area"><%= f.text_area :enunciation %></label>
  </p>

  <p>
    <a><%= f.submit "Salvar" %></a>
  </p>

<% end %>

