<%= form_for(@question, :remote => true) do |f| %>

<p class="info grid_6">
Adicionar pergunta
</p>

<p class="form_field">
  <label class="label"><%= f.label :enunciado %></label>
</p>
<p class="form_field">
	 <%= f.text_area :enunciation %>
	<%= f.submit "Salvar" %>
</p>

<% end %>

