<script type='text/javascript'>

function atualizarValorDoPeso(idDaResposta, idDaCaracteristica, pesoAtribuidoACaracteristica) {
	if (isNaN(pesoAtribuidoACaracteristica)) {
		alert('O peso deve ser numerico.');
		return;
	}
	
	$.get("/answers/addChar/" + idDaResposta, { characteristic : encodeURIComponent(idDaCaracteristica), weight: encodeURIComponent(pesoAtribuidoACaracteristica), authenticity_token : encodeURIComponent(AUTH_TOKEN) });
}
</script>
<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Perguntas</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="form">
			<h2>Pergunta</h2>
			<div id="formulario-questao"> <%= render :partial => "form" %> </div>
		</div>
		<div class="show" id="questions">
			<% @questions.each do |question| %>
			 		<%= render :partial => "question", :locals => {:question => question} %>
			<% end %>
		</div>
	</div>
</div>