<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Perguntas</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="show">
			<% @questions.each do |question| %>
			 		<%= render :partial => "question", :locals => {:question => question} %>
			<% end %>
		</div>
		<div id="addAnswer">
			
		</div>
		<div class="form">
			<h2>Nova Pergunta</h2>
			<div id="form"><%= render :partial => "form" %></div>
		</div>
	</div>
</div>