<div class="h_text">
	<!-- <img alt="" src="images/1-t1.jpg" />--><h1>Usuário</h1><br />
</div>
<div class="padding">
	<div class="main_content">
		<div class="show">
			<table id="resposta" class="grid">
				<thead>
					<tr>
						<th>Enunciado</th>
						<th>Show</th>
						<th>Edit</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<% @resposta.each do |respostum| %>
					<%= render respostum %>
					<% end %>
				</tbody>
				<tfooter>
					
				</tfooter>
			</table>
		</div>
		<div class="form">
			<h2>New</h2>
			<div id="form"><%= render :partial => "form" %></div>
		</div>
	</div>
</div>


