<%= stylesheet_link_tag "layout_principal/session_header.css" %>
	
<div id="login">
	<ul>
		<div id="login_content">
			<li><img src="../../images/icones/user_icon.png" /> </li>
				<li>
				<!-- TODO: apos a implementacao de um sistema de login, substituir os proximos campos pelas respectivas actions-->
				<a href="">usuario</a></li>
			<li id="logout"><%= link_to('Sair', 'home/index')%> 
			</li>
		</div>
	</ul>